<!-- Banner -->
<div class="banner">
  <div class="container">
    <p class="justify-content-center d-flex"><strong>Save any kind of movies</strong></p>
  </div>
</div>

<div class="container">
  <div class="m-3 text-center">
    <p style="font-size: 3rem; color: rgba(176, 0, 142, 1);">My Lists</p>
    <%= link_to "New list", new_list_path %>
  <div>

   <!-- Cards Lists -->
  <div class="card-grid">
    <% @lists.each do |list| %>
    <div class="card">
     <%= cl_image_tag list.photo.key %>
      <%# <%= image_tag "pochoclos.jpg" %>
      <div class="card-body">
        <p class="card-title text-center" style="color: rgba(176, 0, 142, 1); font-size: 2rem;"><%= list.name %></p>
        <div class="text-center">
          <%= link_to "Show", list_path(list) %>
          <%= link_to "Edit", edit_list_path(list) %>
          <%= link_to "Remove", list_path(list), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>


</div>
